@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
/*sección current user feed*/
.view__feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 70%;
}
.image__user-feed {
  width: 50px;
  height: auto;
  border-radius: 50px;
}
#username-feed {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1em;
}
/*sección post*/
.container__posts-feed {
  list-style-type: none;
  padding: 5% 15% 20%;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem));
  justify-content: center;
}
.container_post-feed {
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(201, 201, 201);
  padding: 1rem;
  border-radius: 1rem;
  width:350px;
  height: 400px;
}
.container-btn-like {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-flex;
    align-content: space-between;
    float: left;
}
.like__btn, .recommend__btn{
  padding: 1em;
  font-size: .8em;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border:none;
  color:#0052d4;
  cursor: pointer;
  outline:none;
} 
.recommend__btn{
  color: green;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container__posts-feed {
    padding: 5% 20%;
  }
}

@media only screen and (min-width: 1024px) {
  .container__posts-feed {
    padding: 5% 20%;
  }
}


