@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* The Modal (background) */
.container__modal-post {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content__modal-post {
  background-color: #fefefe;
  margin: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  width: 80%;
  height: 25em;
}

/* The Close Button */
.close__modal-post {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close__modal-post:hover,
.close__modal-post:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.content__form {
  display: flex;
  flex-direction: column;
}
.container__image-preview {
  width: 271px;
  height: 160px;
  min-height: 100px;
  border: 2px dashed rgb(148, 146, 146);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(122, 121, 121);
}
.image-preview {
  display: none;
  width: 100%;
}
.file input {
  display: none;
}

#iconImagePost {
  color: rgb(122, 121, 121);
  cursor: pointer;
  float: right;
  margin-right: 1%;
  margin-bottom: 15px;
}
#iconImagePost:hover {
  color: #5995fd;
}
.content__form-input {
  width: 271px;
  background-color: rgb(235, 230, 230);
  padding: 5px;
  border: none;
}
.modal__footer {
  align-items: right;
}
.btn__modal-post {
  width: 80px;
  height: 30px;
  background-color: #5995fd;
  border: none;
  outline: none;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  font-size: 0.7em;
  margin: 10px 0;
  cursor: pointer;
  margin-left:7%;
}
.btn__modal-post:hover {
  background-color: #4d84e2;
}

.image-post{
  max-height:150px;
  max-width: auto;
  margin-left: 2%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .image-post{/*cambiar a feed o profile*/
    max-height:180px;
    max-width: auto;
    margin-left: 16%;
    margin-top: -8%;
  }
  .content__modal-post {
    width: 60%;
    height: 28em;
  }
  .container__image-preview {
    width: 400px;
    height: 210px;
    min-height: 150px;
  }
  .content__form-input {
    width: 400px;
  }
  .btn__modal-post {
    width: 90px;
    height: 35px;
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 1024px) {
  .image-post{/*cambiar a feed o profile*/
    max-height:250px;
    max-width: auto;
    margin-left: 20%;
    margin-top: -8%;
  }
  .content__modal-post {
    width: 50%;
    height: 33em;
  }
  .container__image-preview {
    width: 600px;
    height: 310;
    min-height: 250px;
  }
  .content__form-input {
    width: 600px;
  }
  .btn__modal-post {
    width: 100px;
    height: 49px;
    font-size: 1rem;
  }
}

