@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 2em;
  background: #0052d4;
  padding-top: 2px;
  margin-bottom: 10px;
}

.nameApp {
  font-size: 80%;
  margin-left: 3em;
  margin-top: 0.3rem;
}

.inputSearch {
  height: auto;
  width: 80%;
  margin: 10px;
  padding: 1% 5%;
  background: #0052d4;
  border-radius: 32px;
  outline: none;
  border: 2px solid #fff;
  margin-top: 1%;
}
.menu-icons2 {
  display: none;
}

.menuMobileContainer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  height: 2em;
  background: #0052d4;
  padding-top: 5px;

  /*padding-left:5px;*/
}

.auxiliarContainer {
  width: 50%;
}

.menu-icons-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  margin-left: 10px;
}
footer {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 3em;
    background: #0052d4;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  .menuMobileContainer {
    display: none;
  }
  .menu-icons2 {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5em;
    color: white;
  }
  .nameApp {
    font-size: 130%;
    margin-left: 3em;
    margin-top: 0.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 3em;
    background: #0052d4;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  .menuMobileContainer {
    display: none;
  }
  .nameApp {
    font-size: 150%;
    margin-left: 8em;
    margin-top: 0.3rem;
  }
  .search {
    background: #0052d4;
  }

  .inputSearch {
    background: #0052d4;
    height: auto;
    width: 150%;
    margin: 10px;
    padding: 1% 5%;
    border-radius: 32px;
    outline: none;
    border: 2px solid #fff;
    margin-top: 1%;
  }

  .menu-icons2 {
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 8em;
    color: white;
  }
}
